{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>公务车辆详情</h2>
    
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="card-title">基本信息</h5>
                    <table class="table">
                        <tr>
                            <th>卡片编号：</th>
                            <td>{{ car.card_number }}</td>
                        </tr>
                        <tr>
                            <th>资产编号：</th>
                            <td>{{ car.asset_number }}</td>
                        </tr>
                        <tr>
                            <th>品牌：</th>
                            <td>{{ car.brand }}</td>
                        </tr>
                        <tr>
                            <th>资产描述：</th>
                            <td>{{ car.asset_description }}</td>
                        </tr>
                        <tr>
                            <th>规格型号：</th>
                            <td>{{ car.model }}</td>
                        </tr>
                        <tr>
                            <th>原值：</th>
                            <td>{{ car.original_value }}</td>
                        </tr>
                        <tr>
                            <th>经营用车：</th>
                            <td>{{ car.is_business_car }}</td>
                        </tr>
                    </table>
                </div>
                
                <div class="col-md-6">
                    <h5 class="card-title">车辆信息</h5>
                    <table class="table">
                        <tr>
                            <th>车牌号：</th>
                            <td>{{ car.plate_number }}</td>
                        </tr>
                        <tr>
                            <th>车辆型号：</th>
                            <td>{{ car.car_model }}</td>
                        </tr>
                        <tr>
                            <th>车型：</th>
                            <td>{{ car.car_type }}</td>
                        </tr>
                        <tr>
                            <th>登记时间：</th>
                            <td>{{ car.registration_time.strftime('%Y-%m-%d') if car.registration_time else '' }}</td>
                        </tr>
                        <tr>
                            <th>座位数：</th>
                            <td>{{ car.seat_count }}</td>
                        </tr>
                        <tr>
                            <th>排气量：</th>
                            <td>{{ car.displacement }}</td>
                        </tr>
                        <tr>
                            <th>责任人：</th>
                            <td>{{ car.responsible_person }}</td>
                        </tr>
                        <tr>
                            <th>使用性质：</th>
                            <td>{{ car.usage_nature }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            
            {% if car.vehicle_license_path %}
            <div class="row mt-4">
                <div class="col-12">
                    <h5 class="card-title">车辆行驶证</h5>
                    <a href="{{ url_for('vehicle.official_car.download_license', id=car.id) }}" class="btn btn-primary">
                        下载行驶证
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    
    <div class="mt-4">
        <a href="{{ url_for('vehicle.official_car.edit', id=car.id) }}" class="btn btn-primary">编辑</a>
        <a href="{{ url_for('vehicle.official_car.index') }}" class="btn btn-secondary">返回</a>
    </div>
</div>
{% endblock %} 