{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>编辑公务车辆信息</h2>
    
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.card_number.label }}
                    {{ form.card_number(class="form-control") }}
                </div>
                
                <div class="form-group">
                    {{ form.asset_number.label }}
                    {{ form.asset_number(class="form-control") }}
                    {% if form.asset_number.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.asset_number.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.brand.label }}
                    {{ form.brand(class="form-control") }}
                </div>
                
                <div class="form-group">
                    {{ form.asset_description.label }}
                    {{ form.asset_description(class="form-control") }}
                </div>
                
                <div class="form-group">
                    {{ form.model.label }}
                    {{ form.model(class="form-control") }}
                </div>
                
                <div class="form-group">
                    {{ form.original_value.label }}
                    {{ form.original_value(class="form-control") }}
                    {% if form.original_value.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.original_value.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.is_business_car.label }}
                    {{ form.is_business_car(class="form-control") }}
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.plate_number.label }}
                    {{ form.plate_number(class="form-control") }}
                </div>
                
                <div class="form-group">
                    {{ form.car_model.label }}
                    {{ form.car_model(class="form-control") }}
                </div>
                
                <div class="form-group">
                    {{ form.car_type.label }}
                    {{ form.car_type(class="form-control") }}
                </div>
                
                <div class="form-group">
                    {{ form.registration_time.label }}
                    {{ form.registration_time(class="form-control", type="date") }}
                    {% if form.registration_time.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.registration_time.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.seat_count.label }}
                    {{ form.seat_count(class="form-control") }}
                    {% if form.seat_count.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.seat_count.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.displacement.label }}
                    {{ form.displacement(class="form-control") }}
                </div>
                
                <div class="form-group">
                    {{ form.responsible_person.label }}
                    {{ form.responsible_person(class="form-control") }}
                </div>
                
                <div class="form-group">
                    {{ form.usage_nature.label }}
                    {{ form.usage_nature(class="form-control") }}
                </div>
                
                <div class="form-group">
                    {{ form.vehicle_license.label }}
                    {{ form.vehicle_license(class="form-control-file") }}
                    {% if form.vehicle_license.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.vehicle_license.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="form-group mt-4">
            {{ form.submit(class="btn btn-primary") }}
            <a href="{{ url_for('vehicle.official_car.index') }}" class="btn btn-secondary">返回</a>
        </div>
    </form>
</div>
{% endblock %} 